.c-tiles {
  margin: 60px 0;
}
.c-tiles__content {
  display: grid;
  gap: 24px;
}
.c-tiles__header {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .c-tiles__content {
    gap: 40px 32px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
