.c-badge {
  color: #fff;
  background-color: #525367;
  font-size: 16px;
  padding: 8px 12px;
  padding-right: 24px;
  font-style: italic;
  -webkit-clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
}
