.c-card {
  position: relative;
  display: block;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    z-index: 1;
  }
  &__picture img {
    display: block;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    aspect-ratio: 1;
  }
  &__content {
    position: absolute;
    left: 24px;
    right: 24px;
    bottom: 24px;
    z-index: 2;
  }
  &__header {
    margin-bottom: 16px;
  }
  &__title {
    display: -webkit-box;
    color: #fff;
    margin-top: 16px;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  &__text {
    display: none;
  }
  &__footer {
    margin-top: 24px;
  }
  &__link {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 24px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1024px) {
  .c-card {
    &__text {
      display: -webkit-box;
      color: #fff;
      overflow: hidden;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    &__footer {
      height: 0;
      overflow: hidden;
      transition: 0.3s ease;
    }
    &:hover {
      .c-card__footer {
        height: 127px;
      }
    }
  }
}
