@use "../../utilities/colors";

.c-tiles {
  background-color: #f9f9f9;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.c-tiles__header {
  position: relative;
  padding-top: 40px;
  margin-bottom: 40px;
  overflow: hidden;

  svg {
    position: absolute;
    top: -16px;
    right: 20px;
    width: 100px;
  }
}
.c-tiles__title {
  position: relative;
  padding-bottom: 16px;
  margin-bottom: 16px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 64px;
    height: 4px;
    background-color: colors.$primary;
  }
}
.c-tiles__content {
  display: grid;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .c-tiles {
    padding-bottom: 80px;
    margin-bottom: 80px;
  }
  .c-tiles__header {
    padding-top: 80px;
  }
  .c-tiles__content {
    gap: 40px 32px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .c-tiles__header {
    svg {
      right: 30px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .c-tiles__header {
    svg {
      right: 60px;
    }
  }
}
