@use "../../utilities/colors";

.c-tiles {
  background-color: #f9f9f9;
  padding: 40px 0;
  margin-bottom: 40px;
}
.c-tiles__header {
  margin-bottom: 40px;
}
.c-tiles__title {
  position: relative;
  padding-bottom: 16px;
  margin-bottom: 16px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 64px;
    height: 4px;
    background-color: colors.$primary;
  }
}
.c-tiles__content {
  display: grid;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .c-tiles {
    padding: 80px 0;
    margin-bottom: 80px;
  }
  .c-tiles__content {
    gap: 40px 32px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
