@use "../../utilities/colors";

.c-tile {
  &__header {
    padding: 16px 0;
    border-bottom: 1px solid colors.$light-grey;
    margin-bottom: 20px;
  }
  &__title {
    color: colors.$primary;
  }
  &__footer {
    margin-top: 8px;

    .c-link {
      padding: 8px 0;
    }
  }
}
