.c-cards {
  margin: 40px 0;
}
.c-cards__content {
  display: grid;
  gap: 24px;
}
.c-cards__footer {
  text-align: center;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .c-cards {
    margin: 80px 0;
  }
  .c-cards__content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
