@use "./colors";

//FONT
$text-font-family: "Roboto", sans-serif;
$title-font-family: "Roboto", sans-serif;
$text-color: colors.$grey;
$title-color: colors.$grey;

//SIZE TEXT
$text-mobile-size: 16px;
$text-desktop-size: 18px;
$text-lineheight: 1.5;

//SIZE TITLE
$title-desktop-size1: 48px;
$title-desktop-size2: 32px;
$title-desktop-size3: 26px;
$title-desktop-size4: 18px;
$title-mobile-size1: 32px;
$title-mobile-size2: 26px;
$title-mobile-size3: 22px;
$title-mobile-size4: 16px;
$title-lineheight: 1.2;
